body {
    font-family: sans-serif;
    text-align: center;
}

#scoreText {
    font-size: 12em;
}

#time {
    font-size: 2em;
}

.reward-eligible {
    color: green;
}

.reward-ineligible {
    color: red;
}
